<h1> Userpage</h1>

<h3>This is the users page</h3>

<div class="rows">
  <div class="col-lg-4"><h4>Column 1</h4>
		  Wayne Rooney: Chelsea delay third bid until after Man Utd game
		Chelsea manager Jose Mourinho says the club are likely to make a third bid for Wayne Rooney - but not until after Monday's clash with Manchester United.
		United have rejected two bids, the latest £25m plus add-ons, from Chelsea for the 27-year-old England striker.
		"I don't want Chelsea to do it before we go there," Mourinho said after Chelsea's 2-1 defeat of Aston Villa.
		"I think this period, by the ethical point of view, is a period where we're going to be quiet."
  </div>
  <div class="col-lg-4"><h4>Column 2</h4>
  		Karim Benzema & Angel Di Maria: Arsenal target Real Madrid pair
		By David Ornstein BBC Sport
		Arsenal are working on deals to sign Real Madrid attacking pair Karim Benzema and Angel Di Maria.
		The Gunners are prepared to pay £40m for 25-year-old France striker Benzema after missing out on Gonzalo Higuain and Liverpool's Luis Suarez.
		Arsenal boss Arsene Wenger also wants Argentina left winger Di Maria, 25, and is understood to be chasing a keeper and a defender as well.
  </div>
  <div class="col-lg-4"><h4>Column 3</h4>
	  	Paul Lambert angry with referee's display in Chelsea loss
		Aston Villa manager Paul Lambert was furious after he believed two crucial decisions failed to go his way in a feisty 2-1 loss at Chelsea.
		Lambert, 44, argued match-winner Branislav Ivanovic should have been dismissed for an elbow and his side should have had an injury-time penalty.
		"There were two major decisions that were called wrong," he told BBC Sport.
		Chelsea boss Jose Mourinho countered by saying Lambert wanted "to be coach, manager and referee".
  </div>
</div>